.divbtn{width:16px;height:16px;float:left;cursor:pointer;text-indent: -999em;}
._1134533{background:url('../img/frame/allbgs.png') no-repeat 0px 0px;width:32px;padding-top:34px;}
._1134532{background:url('../img/frame/allbgs.png') no-repeat -32px 0px;width:32px;padding-top:34px;}
._1134597{background:url('../img/frame/allbgs.png') no-repeat -64px 0px;width:32px;padding-top:34px;}
._1134579{background:url('../img/frame/allbgs.png') no-repeat -96px 0px;width:32px;padding-top:34px;}
._1134505{background:url('../img/frame/allbgs.png') no-repeat -128px 0px;width:32px;padding-top:34px;}
._1134435{background:url('../img/frame/allbgs.png') no-repeat -160px 0px;width:32px;padding-top:34px;}
._1134396{background:url('../img/frame/allbgs.png') no-repeat -192px 0px;width:32px;padding-top:34px;}
._1134488{background:url('../img/frame/allbgs.png') no-repeat -224px 0px;width:32px;padding-top:34px;}
._1134479{background:url('../img/frame/allbgs.png') no-repeat -256px 0px;width:32px;padding-top:34px;}
